main {
	display: block;
}

main, .sidenav {
	margin-top: 2em;
}

.minimal-header {
	-ms-grid-column: 2;
	-ms-grid-column-span: 8;
	-ms-grid-row: 1;
	grid-column: 2/10;
}

.minimal-header-name {
  margin-right: 2em;
}
.minimal-header-name a {
  text-decoration: none;
}
.minimal-header-name a:hover, .minimal-header-name a:focus {
  text-decoration: underline;
}

.main-content {
	-ms-grid-column: 2;
	-ms-grid-column-span: 6;
	grid-column: 2/span 6;
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
	grid-row-start: 2;
}

#site-header.minimal-header.with-subtitle {
padding: 1.75em 0 0 0;
}

.minimal-header-logo img {
margin: 1px 0 1px 0;
}
.minimal-header-logo svg {
margin: 0.75em 0 0.75em 0.5em;
}

#site-header.minimal-header {
margin: 1.2em 0;
align-items: stretch;
}

#site-header.minimal-header .minimal-header-name, 
#site-header.minimal-header .minimal-header-subtitle, 
#site-header.minimal-header .minimal-header-link 
{
display: flex;
flex-direction: column;
justify-content: center;
}

.minimal-header-name {
flex: width 0 0;
}

.minimal-header-subtitle,
.minimal-header-link {
border-left: 1px solid var(--gold);
padding-left: 8px;
margin-left: 18px;
display: block;
font-size: 80%;
flex: 1 0 0;
}

.minimal-header-subtitle {
font-style: italic;
}

.minimal-header-link {
text-decoration: underline !important;
font-weight: normal;
margin-right: 16px;
}

/* skip link */
.button--skip-link {
background-color: var(--gold) !important;
border-color: var(--gold) !important;
outline-color: currentColor !important;
color: var(--off-black) !important;
font-weight: 600;
font-size: larger;
margin: 0 auto;
position: absolute;
z-index: 20;
left: 0;
right: 0;
top: 0.5em;
width: 10em;
opacity: 1;
transition: transform 0.1875s ease-out, opacity 0.1875s ease-out;
}

.button--skip-link:not(:focus):not(:hover) {
transform: translateY(-4em);
opacity: 0;
}

h1 span {
	display: block;
	font-size: .5em;
	margin-bottom: 0.25em;
}

.normative {
	border: solid 1px var(--cloudy-subtle);
	margin-top: 1em;
	padding: .5em 1em;
	border-left-width: 1em;
}

.note, .ednote {
	border-color: #52E052;
	background: #e9fbe9;
	overflow: auto;
	padding: .5em;
	border-width: 0 0 0 0.5em;
	border-left-style: solid;
	page-break-inside: avoid;
	margin: 1.5em 0 0 0;
}

.ednote::before { 
	content: "Editor's Note: "; 
	font-weight: bold;
}
.note::before { 
	content: "Note: "; 
	font-weight: bold;
}

is:{.requirement-level, .technology} span {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;  
}
.requirement-level, .technology {
	display: inline-block;
	background: #6bc8fe;
	color: #111111;
	font-weight: 700;
	font-size: 11px;
	font-size: .6125rem;
	line-height: 1.4;
	vertical-align: middle;
	margin-left: 1em;
	padding: 4px 8px;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sidenav--list a+ul {
	display: block;
}