main {
	display: block;
}

.minimal-header {
	-ms-grid-column: 2;
	-ms-grid-column-span: 8;
	-ms-grid-row: 1;
	grid-column: 2/10;
}

.minimal-header-name {
  margin-right: 2em;
}
.minimal-header-name a {
  text-decoration: none;
}
.minimal-header-name a:hover, .minimal-header-name a:focus {
  text-decoration: underline;
}

.main-content {
	-ms-grid-column: 2;
	-ms-grid-column-span: 6;
	grid-column: 2/span 6;
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
	grid-row-start: 2;
}

#site-header.minimal-header.with-subtitle {
padding: 1.75em 0 0 0;
}

.minimal-header-logo img {
margin: 1px 0 1px 0;
}
.minimal-header-logo svg {
margin: 0.75em 0 0.75em 0.5em;
}

#site-header.minimal-header {
margin: 1.2em 0;
align-items: stretch;
}

#site-header.minimal-header .minimal-header-name, 
#site-header.minimal-header .minimal-header-subtitle, 
#site-header.minimal-header .minimal-header-link 
{
display: flex;
flex-direction: column;
justify-content: center;
}

.minimal-header-name {
flex: width 0 0;
}

.minimal-header-subtitle,
.minimal-header-link {
border-left: 1px solid var(--gold);
padding-left: 8px;
margin-left: 18px;
display: block;
font-size: 80%;
flex: 1 0 0;
}

.minimal-header-subtitle {
font-style: italic;
}

.minimal-header-link {
text-decoration: underline !important;
font-weight: normal;
margin-right: 16px;
}

/* skip link */
.button--skip-link {
background-color: var(--gold) !important;
border-color: var(--gold) !important;
outline-color: currentColor !important;
color: var(--off-black) !important;
font-weight: 600;
font-size: larger;
margin: 0 auto;
position: absolute;
z-index: 20;
left: 0;
right: 0;
top: 0.5em;
width: 10em;
opacity: 1;
transition: transform 0.1875s ease-out, opacity 0.1875s ease-out;
}

.button--skip-link:not(:focus):not(:hover) {
transform: translateY(-4em);
opacity: 0;
}

h1 {
	padding-top: 33px;
}
h1 span {
	display: block;
	font-size: .5em;
	margin-bottom: 0.25em;
}