.sub-header {
  background: var(--off-white);
  padding-top: 1.3em;
  border-bottom: solid 1px var(--line-grey);
}

.sub-header .breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sub-header .breadcrumb li {
  display: inline-block;
}

.sub-header .breadcrumb li:not(:last-child):after {
  content: " / "
}

.sub-header .subtitle {
  font-size: 2.5rem;
  font-size: min(2.5rem, 10vh);
  margin: 1.3em 0 .5em;
}

.sub-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.sub-header nav a {
  border: solid 1px transparent;
  margin-bottom: -1px; 
}
.sub-header [aria-current="page"] {
  background: var(--body-bg);
  border-color: var(--line-grey);
  border-bottom-color: var(--body-bg);
}
