.top-header {
  background: var(--w3c-classic);
  color: #eee
}

.top-header header.page-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 1.5em;
}

@media screen and (max-width: 35em /* xs-breakpoint */) {
  .top-header header.page-width {
    flex-direction: column;
  }
}

.top-header .branding {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}
.top-header .branding a:focus {
  outline-color: var(--off-white);
  outline-offset: .5em;
}
.top-header .wcag3 {
  margin: 0 0 .2em;
  font-size: 1.2em;
}
.top-header .title {
  font-size: 1.8em;
}
.top-header nav {
  background-color: var(--w3c-blue);
}
.top-header [aria-current="page"] {
  background-color: var(--off-white);
  color: var(--w3c-blue);;
}

.skip-link {
  position: absolute;
  top: -1000px;
  overflow: hidden;
}
.skip-link:focus {
  top: 3px; /* space for the outline */
  overflow: visible;
  background-color: var(--w3c-blue);
  padding: .75em 2em;
  color: #fff;
  z-index: 1000;
}