/* Styles common between guidelines, explainer, and informative docs */

.status-marker {
  background: #d0e1f1;
  color: #091832;
  font-weight: 700;
  font-size: 11px;
  font-size: 0.6125rem;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 1em;
  padding: 4px 8px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
