---
import GithubSlugger from "github-slugger";

import Breadcrumbs from "@/components/informative/Breadcrumbs.astro";
import GuidelineSummary from "@/components/informative/GuidelineSummary.astro";
import InformativeLayout from "@/layouts/InformativeLayout.astro";
import {
  resolveInformativeGroups,
  resolveInformativeGuidelines,
  type InformativeGuideline,
} from "@/lib/informative";

const informativeGroups = await resolveInformativeGroups();
const guidelinesMap: Record<string, InformativeGuideline[]> = {};
for (const { id } of informativeGroups) {
  if (!(id in guidelinesMap)) guidelinesMap[id] = await resolveInformativeGuidelines(id);
}

const slugger = new GithubSlugger();
---

<InformativeLayout title="All WCAG 3 Guidelines">
  <Breadcrumbs slot="breadcrumbs" segments={[]} />
  {
    informativeGroups.map((group) => (
      <>
        <h2 id={slugger.slug(group.title)}>{group.title}</h2>
        {guidelinesMap[group.id].map((guideline) => (
          <GuidelineSummary guideline={guideline} />
        ))}
      </>
    ))
  }
</InformativeLayout>
