---
import Acknowledgements from "@/components/guidelines/Acknowledgements.astro";
import ExplainerRespec from "@/components/respec/ExplainerRespec.astro";
---

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Explainer for W3C Accessibility Guidelines (WCAG) 3.0</title>
    <ExplainerRespec />
    <script is:inline src="https://www.w3.org/Tools/respec/respec-w3c" class="remove"></script>
    <style is:global>
        @import "@/styles/explainer.css";
    </style>
</head>

<body>
    <section id='abstract'>
        <p>The Explainer for WCAG 3 accompanies the draft of [[[?WCAG3]]]. It provides an overview of the history and goals of WCAG 3. This document also describes the current thinking on the structure of the guidelines and the conformance model. The guidelines, conformance model, and related work are still evolving.</p> 
        <p>Information on the current schedule is included below with a link to a more detailed timeline.</p>
        <p>See <a href="https://www.w3.org/WAI/standards-guidelines/wcag/wcag3-intro/">WCAG 3 Introduction</a> for more details about this work and links to WCAG technical and educational material.</p>
    </section>
    <section id='sotd'>
        <p>This is an updated draft of the WCAG 3 Explainer. It is informative, not normative, and is not expected to become a W3C Recommendation. It provides background on [[[?WCAG3]]].</p>

        <p>To comment, <a href="https://github.com/w3c/wcag3/issues/new">file an issue in the W3C wcag3 GitHub repository</a>. The Working Group requests that public comments be filed as new issues, one issue per discrete comment. It is free to create a GitHub account to file issues. If filing issues in GitHub is not feasible, email <a href="mailto:public-agwg-comments@w3.org?subject=WCAG%203.0%20public%20comment">public-agwg-comments@w3.org</a> (<a href="https://lists.w3.org/Archives/Public/public-agwg-comments/">comment archive</a>). In-progress updates to the guidelines can be viewed in the <a href="https://w3c.github.io/wcag3/guidelines/">public editors’ draft</a>.</p>

    </section>
    <section id="intro">
        <h2>Introduction</h2>

        <p>W3C Accessibility Guidelines (WCAG) 3.0 is a successor to Web Content Accessibility Guidelines 2.2 [[WCAG22]]
            and previous versions. It does not <a>deprecate</a> WCAG 2. It may incorporate some content from User Agent
            Accessibility Guidelines 2.0 [[UAAG20]] and Authoring Tool Accessibility Guidelines 2.0 [[ATAG20]] where it assists authors in meeting guidelines. These versions provided a model that kept them relevant for over 10 years. Changing technology and changing needs of people with disabilities require a new model to address content accessibility more comprehensively.
        </p>
        <p>This Explainer includes: </p>
        <ul>
            <li><a href="#goals">Goals for WCAG 3</a></li>
            <li><a href="#background">WCAG 3 Background and Development History</a></li>
            <li><a href="#current-process">Current Process for Creating WCAG 3</a></li>
            <li><a href="#structure">WCAG 3 Structure</a></li>
            <li><a href="#conformance-models">Conformance Approach</a></li>
            <li><a href="#user-generated-content">Information on User-generated content</a></li>
            <li><a href="#schedule">Schedule</a>.</li>
        </ul>

     <p class="ednote">The structure, guidelines, and conformance model are still in draft. The Accessibility Guidelines Working Group welcomes public comments on the proposed approach.</p> 
    </section>
    <section>
        <h2>Goals</h2>
        <p>The goal of WCAG is to provide information that can be used to improve the accessibility of products on a
            variety of platforms. WCAG 3 will use a model that allows it to:</p>
        <ul>
            <li>address more disability needs than WCAG 2,</li>
            <li>incorporate publishing requirements and emerging technologies such as web XR (augmented, virtual, and mixed reality) and voice input,</li>
            <li>facilitate maintenance, so that the new model will be more enduring over time as technologies evolve, and</li>
            <li>include additional information about the ways web technologies need to work with <a>authoring tools</a>, <a>user agents</a>, and <a>assistive technologies</a>.</li>
        </ul>
        <p>Additional goals for WCAG 3 are written in <a
                href="https://www.w3.org/TR/wcag-3.0-requirements/">Requirements for WCAG 3.0</a>. These are based on the
            <a href="https://www.w3.org/WAI/GL/task-forces/silver/wiki/Silver_Research_Archive">Silver research</a>, the
            results from the <a href="https://www.w3.org/community/silver/draft-final-report-of-silver/">Silver Design
                Sprint</a>, and input from the Accessibility Guidelines Working Group, the Silver Task Force, and the
            Silver Community Group.</p>

        <h3>Goals for Inclusion</h3>
        <p>The creation process for the WCAG 3 guidelines should:</p>
        <ul>
            <li>Actively recruit a diverse range of people with disabilities.</li>
            <li>Periodically evaluate inclusive features of available tooling and procedures.</li>
            <li>Facilitate global participation and feedback.</li>
            <li>Review and monitor participation and representation.</li>
        </ul>
        <div class="ednote">
            <p>W3C strives to be as inclusive as possible, and has actively sought participation and input from a broad
                range of stakeholder groups. We recognize, however, that there is always room for improvement in
                practices to support inclusion and representation. As you evaluate this document, please consider
                whether there are ways the Working Group can better support your review, feedback, or inclusion within
                the process of creating this standard. We welcome feedback on this question as part of your comments.
            </p>
        </div>

        <h2>Out of Scope</h2>
        <p>Several items are out of scope for WCAG 3:</p>
        <ul>
            <li>Non-web technologies.</li>
            <li>Normative requirements for platforms, operating systems, software in the web technology stack, etc.</li>
        </ul>
    </section>
    <section id="background">
        <h2>WCAG 3 Background and Development History</h2>
        <p>WCAG 3 originally had a project name of "Silver", so the original groups working on it and much of the
            early design work carries that project name. The Silver Task Force of the Accessibility Guidelines Working
            Group (AG) and the W3C Silver Community group partnered to produce the needs, requirements, and structure
            for the new accessibility guidance. They worked on Silver from 2017-2023. During that time they:</p>
        <ol>
            <li>Developed a list of Web Content Accessibility Guidelines <a
                    href="https://www.w3.org/WAI/GL/task-forces/silver/wiki/Job_Stories_for_Stakeholders">stakeholders
                    and their job stories</a></li>
            <li>Researched needs for a new major version of the Web Content Accessibility Guidelines; (<a
                    href="https://www.w3.org/WAI/GL/task-forces/silver/wiki/Silver_Research_Archive">Silver Research
                    Project</a>)</li>
            <li>Developed <a href="https://www.w3.org/WAI/GL/task-forces/silver/wiki/Problem_Statements">problem
                    statements and opportunities</a> to improve accessibility guidance;</li>
            <li>Received <a
                    href="https://www.w3.org/community/silver/2018/04/23/suggestions-of-silver-design-sprint/">input
                    from industry leaders</a> for directions to proceed to address the problem statements; The full <a
                    href="https://www.w3.org/community/silver/draft-final-report-of-silver/">Final Report of the Silver
                    Design Sprint</a> is incorrectly labeled as a draft. It contains all the information on the Design
                Sprint.</li>
            <li>Drafted <a href="https://www.w3.org/TR/wcag-3.0-requirements/">Requirements for WCAG3</a>;</li>
            <li>Created and tested prototypes for aspects of the project; and </li>
            <li>Created a <a href="https://www.w3.org/TR/2021/WD-wcag-3.0-20210121/">First Public Working Draft of
                    WCAG3</a> and three updated <a href="https://www.w3.org/TR/wcag-3.0/">Working Drafts</a>. </li>
        </ol>
    </section>

    <section id="current-process">
        <h2>Current Process for Creating WCAG 3</h2>
        <p>The Accessibility Guidelines Working Group (AGWG) uses an iterative approach to creating WCAG 3. Each piece of content will evolve over time,
            increasing in maturity. As a result, the document is a work-in-progress.</p>
        <p>Because different parts of the document have different maturity levels, each normative section includes a
            status that indicates:</p>
        <ul>
            <li>how far along in the development process this section is,</li>
            <li>how ready it is for experimental adoption, and</li>
            <li>what kind of feedback AGWG is looking for.</li>
        </ul>

        <p>The status indicators, from least to most mature, are:</p>
        <ul>
            <li><strong id="status-placeholder">Placeholder</strong>: This content is temporary. It showcases the type of content to expect here. All of this is expected to be replaced. No feedback is needed on placeholder content.</li>
            <li><strong id="status-exploratory">Exploratory</strong>: This content is not refined; details and definitions may be missing. The working group is exploring what direction to take with this section. Feedback should be about the proposed direction.</li>
            <li><strong id="status-developing">Developing</strong>: This content has been roughly agreed on in terms of what is needed for this section, although not all high-level concerns have been settled. Details have been added, but are yet to be worked out. Feedback should be focused on ensuring the section is usable and reasonable, in a broad sense.</li>
            <li><strong id="status-refining">Refining</strong>: This content is ready for wide public review and experimental adoption. The working group has reached consensus on this section. Feedback should be focused on the feasibility of implementation.</li>
            <li><strong id="status-mature">Mature</strong>: This content is believed by the working group to be ready for recommendation. Feedback on this section should be focused on edge-case scenarios that the working group may not have anticipated.</li>
        </ul>

        <p>The working group aims to publish two new drafts each year. Each draft will include targeted questions for the 
            public to consider. Responses will help advance the work. Content will evolve and there may be 
            changes to layout and style that are not yet reflected in all parts of the present release and will be reflected 
            in future releases.</p>
    </section>

    <section id="structure" data-status="exploratory">
        <h2>WCAG 3 Structure</h2>
        <p>WCAG 3 includes both <a>normative</a> and <a>informative</a> guidance. This guidance is organized into:</p>
        <ul>
            <li>Guidelines (Outcome Statements) - normative
                <ul>
                    <li>Foundational Requirements - normative
                        <ul>
                            <li>How to Documents - informative
                                <ul>
                                    <li>Methods - informative</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Supplemental Requirements - normative
                        <ul>
                            <li>How to Documents - informative
                                <ul>
                                    <li>Methods - informative</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>Assertions - normative
                        <ul>
                            <li>How to Documents - informative
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <p>Details on each are below.</p>
        <p>By default, guidelines are organized by what is tested. WCAG 3 will provide a version, similar to the
            existing <a href="https://www.w3.org/WAI/WCAG22/quickref/">QuickRef</a>, that incorporates tags to allow
            readers to reorganize and filter the content. For example, content will be tagged Perceivable, Operable,
            Understandable, and Robust so that readers can view WCAG 3 criteria in the same structure as WCAG 2.</p>

        <h3>Guidelines</h3>
        <p>Guidelines are written as plain language, user-centered outcomes statements.</p>
        <p>Guidelines include high-level, plain-language information for managers, policy makers, individuals who are
            new to accessibility, and other individuals who need to understand the concepts but not the technical
            details. They provide an easy-to-understand way of organizing and presenting the outcomes so that anyone can
            learn about and understand the concepts. </p>
        <p>Guidelines are normative.</p>
        <p>Guidelines are <a>technology-agnostic</a> and address functional needs on specific topics, such as contrast, forms, readability, and more.
          Foundational requirements, supplemental requirements, and assertions that relate 
            to a Guideline are listed together to encourage adoption of higher levels of accessibility.</p>

        <h3>Requirements and Methods</h3>
        <p>Each Guideline contains multiple Requirements:</p>
        <ul><li>Foundational Requirements will be required to meet base level conformance. They will be part, but not all, of base level
         conformance. This set of requirements will
            cover a similar, but not identical, set of needs as WCAG 2.2 Level AA. </li>
            <li>Supplemental Requirements will be used at all levels of conformance, but testers or policy makers will be able to select 
                which supplemental requirements to meet.</li>
        </li></ul>
         <p>Requirements reduce or eliminate barriers that people with disabilities experience. Requirements are designed for use 
            by developers, testers, and other technical specialists.</p>
        <p>Requirements are normative.</p>
        <p>Each set of Foundational Requirements are organized into a decision tree to show the relationship between requirements and 
            to allow for accessibility-supported solutions in the future.</p>

        <p>Each Requirement is associated with at least one <a>Method</a>.
            Methods are informative. Each method contains techniques for meeting the requirements, examples, resources, and sets of tests. Methods can apply to a
            specific technology, such as HTML, or can be more generic where the advice applies no matter what
            technology. For example, the methods supporting the Clear Language guideline.</p>

        <p class="ednote">The AGWG has discussed also including "Best Practices" displayed along with Requirements and Assertions. Best practices would be things which could help improve accessibility but may not be objectively testable. Best practices would not contribute to conformance.</p>

        <h3>Assertions</h3>
            <p>An Assertion is a formal claim of fact, attributed to a person or organization. In WCAG 3, an
                Assertion is an attributable and documented statement of fact regarding procedures practiced in the
                development and maintenance of the content or product to improve accessibility.</p>

    
            <h4>Using Assertions</h4>
            <p>Assertions may be used, in addition to Requirements, to support a Guideline. Only assertions included in this document can be used for conformance. Not all Guidelines include Assertions. Guidelines that include Assertions list them with the Requirements. 
                Organizations can make an Assertion that they followed a procedure as part of a conformance claim.  Assertions build on Foundational Requirements. Assertions cannot be used as alternatives to Foundational Requirements.</p>

            <div class="ednote">
                <p>The working group will consider whether assertions may be used to support guidelines when requirements are not available.</p>
                <p>An alternative to specifying assertions at the requirement or guideline level might be to require that the assertion apply to the scope of the conformance claim.</p>
            </div>

            <p>Assertions reflect work completed that cannot be verified by independent testers. When using assertions to support conformance, 
                the assertions should be stated in the conformance claim. 
            </p>

            <p>Procedures used in assertions may be implemented at the organization level, during design and development, or
                during testing.</p>
            <p>Examples of procedures that may be used during implementation might include:</p>
            <ul>
                <li>Accessibility training,</li>
                <li>FTE (Full Time Equivalent) assignments,</li>
                <li>Skills testing,</li>
                <li>Coordination and documentation of accessibility processes, or</li>
                <li>Setting the priority for remediation.</li>
            </ul>
            <p>Examples of procedures that may be used to evaluate accessibility might include:</p>
            <ul>
                <li>Usability testing,</li>
                <li>Heuristic evaluation, or</li>
                <li>Testing with assistive technology.</li>
            </ul>

                <h4>Documenting Assertions</h4>
                <p>Assertions may be used as part of a conformance claim or to support an independent claim of accessibility conformance. 
                    When used for conformance, assertions must be documented within the accessibility conformance claim. 
                    When used outside a conformance claim, the assertion may be
                    made available through an organization's website or other materials.</p>
                <p>Assertions include the following information:</p>
                <ul>
                    <li>The statement about the process being asserted,</li>
                    <li>The date of the assertion,</li>
                    <li>The date or date range the procedure was completed,</li>
                    <li>The scope of the assertion,</li>
                    <li>Contact information for the person or group making the assertion, and</li>
                    <li>The requirement(s) or guideline(s) supported by the assertion.</li>
                </ul>

                <p>Maintaining additional information to improve or validate
                procedures and assertions. WCAG will not require organizations to provide supporting documentation in order to
                conform.</p>

                <div class="ednote">
                     <p>W3C will explore providing an assertion statement formatter that organizations may use to create properly formatted assertions for use on websites and other public documents.</p>
               </div>

                <div class="ednote">
                    <p>AG will continue developing requirements and methods. Each publication will include additional examples, and/or more mature examples for public comment.</p>
                    <p>AG's next steps include:</p>
                    <ul>
                        <li>Define criteria for which requirements are foundational and which are supplemental.</li>
                        <li>Develop mature examples of 2 guidelines with associated requirements, methods, tests, and How to documentation.</li>
                        <li>Mature all guidelines to the developing stage.</li>
                        <li>Further explore how conditional requirements and alternate ways to measure might be used to support Guidelines.</li>
                    </ul>

                    <p>AG will also continue to explore the use of assertions and welcomes feedback on the following questions:</p>
                    <ul>
                        <li>Can assertions be used to record accessibility work that is not required in the guidelines? This
                            could include advance work on guidance not yet added to the guidelines.</li>
                        <li>What optional supporting documentation should organizations provide with an assertion?</li>
                        <li>Can steps in a procedure duplicate tests in other parts of the guidelines? If so, how should those
                            be handled?</li>
                        <li>Can assertions exist outside of conformance? For example, can they be used as an internal benchmark
                            rather than for a claim of conformance?</li>
                        <li>Can assertions be used at the most basic level of conformance? If so, how?</li>
                        <li>How can small organizations use assertions without unrealistic burden?</li>
                        <li>As written, assertions are collocated with requirements. Would moving assertions to a different location be more effective?</li>
                        <li>AG is considering what will qualify as a procedure in WCAG 3. A procedure may be limited to
                            guidance:
                            <ul>
                                <li>approved by AGWG and listed in WCAG,</li>
                                <li>that references publicly published guidance, or</li>
                                <li>that meets criteria specified in WCAG</li>
                            </ul>
                        or it may be any process that an organization uses to improve accessibility.</li>
                    </ul>
                </div>
        </section>

        <section id="testing" data-status="exploratory">
        <h4>Testing</h4>
        <h5>Types of tests</h5>
        <p>WCAG 3 includes two types of tests which are evaluated:</p>
        <ul>
            <li>Quantifiable tests: Tests where there is a high degree of <a>reliability</a> between test results from different
                testers. Examples include testing whether certain properties exist in the content or if they match a
                value specified by the requirement.</li>
            <li>Qualitative tests: Tests that rely on a qualitative evaluation based on existing criteria. Test results
                may vary between testers who understand the criteria. Variation can be reduced with clear guidance. 
                One example is evaluating the quality of alternative text used to meet a requirement for alternative text.</li>
        </ul>
        <p>Most tests have prescribed ways to meet the test. In some cases, the ways to meet the test will change based
            on a specific condition being met. For example, different human languages have different readability
            metrics.</p>
        
        <h5>Example Tests</h5>
        <p>Tests may be objective or subjective. For example, from WCAG 2:</p>
        <ul>
            <li>Example for 1.1.1: <a href="https://www.w3.org/WAI/standards-guidelines/act/rules/23a2a8/">Image has
                    non-empty accessible name</a></li>
            <li>Example for 1.4.3: <a href="https://www.w3.org/WAI/standards-guidelines/act/rules/afw4f7/proposed/">Text
                    has minimum contrast</a></li>
        </ul>
        <p>Both these tests are objectively verifiable. They are not subject to variation of results between different
            testers.
        </p>
        <p></p>
        <p>Alternatively, again from WCAG 2:</p>
        <ul>
            <li>Example for 1.1.1: <a
                    href="https://www.w3.org/WAI/standards-guidelines/act/rules/qt1vmo/proposed/">Image accessible name
                    is descriptive</a></li>
            <li>Example for 2.4.6: <a href="https://www.w3.org/WAI/standards-guidelines/act/rules/cc0f0a/proposed">Form
                    field label is descriptive</a></li>
        </ul>

        <p>These tests include a subjective determination of whether they are adequately met.</p>

        <h4>Scope</h4>
        <p>Testing uses items, views, task flow, and the product to define the scope of what is
            being tested.</p>
        <p>Items are the smallest testable unit. They could be components such as a drop down menu, a link,
            or a media player. They could also be units of content such as a phrase, a paragraph, a label or error
            message, an icon, or an image.</p>
        <p>Views include all content visually and <a>programmatically</a> available without a <a>significant change</a>. Conceptually,
            views correspond to the definition of a web page as used in WCAG 2, but are not restricted to content
            meeting that definition. For example, a view could be considered a “screen” in a mobile app or a layer of
            web content, such as a modal dialog.</p>
        <p>Task flows are a series views that support a specified <a>user activity</a>. A task flow may include a subset of
            items in a view or a group of views. Only the part of the views that support the user activity are included
            in a test of the task flow.</p>

        <p>Examples of a task flow include:</p>
        <ul>
            <li>Logging into a website and being verified as a user;</li>
            <li>Ordering an item, including the entire set of tasks from searching for the item, adding it to the
                shopping cart, paying for it, and receiving confirmation;</li>
            <li>Submitting tax information; and</li>
            <li>Chatting with other users in a virtual reality environment.</li>
        </ul>
        <p>The product is the combination of all items, views, and task flows that comprise the website, set of web
            pages, web app, etc.</p>

        <h4>Conditions</h4>
        <p>Some tests only apply in certain situations. Testing may occasionally require determining and referencing
            which specifications are being tested. Methods will note whether a test always applies or under what
            conditions a test applies. Both quantifiable and qualitative tests can be conditional.</p>
        <p>Example conditions include:</p>
        <ul>
            <li>The language used may have different grammatical rules.</li>
            <li>An interface with multiple contrast modes may have different contrast requirements than an interface
                with only a default contrast mode.</li>
        </ul>

    <h4>Testing Assertions</h4>
    <p>The results of the process stated in an assertion cannot be tested. Instead, the quality of an assertion statement can be tested 
        based on how well the assertion meets the documentation
        requirements for assertions (See <a href="#documenting-assertions">Documenting Assertions</a>). Conforming to WCAG does not require testing
        supporting documentation; however, organizations may decide to adopt additional documentation requirements
        based on the procedure being asserted.</p>
    </section>

    <section id="conformance-models" data-status="exploratory">
        <h2>Conformance Approach</h2>
        <p>WCAG 3 will use a different conformance model than WCAG 2.2 in order to meet its requirements. Developing
            and vetting the conformance model is a large portion of the work AGWG needs to complete over the next few
            years. Drafts will include maturity models for public review and comment. </p>

        <p>AG is exploring a model based on Foundational Requirements, Supplemental Requirements, and Assertions.</p>

        <p>The most basic level of conformance will require meeting all of the Foundational Requirements. This set will be somewhat
            comparable to WCAG 2.2 Level AA.</p>
            
       <p>Higher levels of conformance will be defined and met using Supplemental Requirements and Assertions. AGWG will be exploring
        whether meeting the higher levels would work best based on points, percentages, or predefined sets of provisions (modules).</p>

        <h3>Additional Concepts</h3>    
        <p>Key concepts AGWG has and previously considered and continues to explore the following:</p>
        <ul><li>Bronze, Silver and Gold conformance levels: AGWG has considered using three traditionally named conformance levels. 
            <ul><li>Bronze would be the minimum conformance level. Content that does not meet the requirements of the
                bronze level does not conform to WCAG 3. The subset will require enough requirements and
                assertions to improve <a>equity</a> across functional needs.</li>
            <li>Silver level incentivizes organizations to go further to improve accessibility. The goal is to encourage 
                organizations to go beyond the minimum, especially where organizations want to be recognized for their efforts to go beyond minimum
                accessibility.</li>
            <li>Gold level identifies measures we want to include for those organizations that do achieve
                Silver so that some can stand out as exemplary, cutting edge, and role models.</li></ul></li>
            <li>Issue severity: Severity ratings could contribute towards scoring and prioritization.</li>
            <li>Adjectival ratings: Adjectival Ratings allow test results to go beyond Pass or Fail to show progress towards a goal or
                exceeding a goal. Example of possible adjectival ratings are:
                <ul>
                    <li>Fail, Pass, Exceptional; or</li>
                    <li>Fail, Progress, Pass, Better, Exceptional.</li>
                </ul>
            </li>
            <li>Pre-assessment checks: Pre-Assessment checks are tests or criteria that implementers can use to determine if they are ready to
                assess conformance. The intent of specifying these would be to help implementers prepare for conformance
                testing, not to create a new level of conformance. </li>
        </ul>  
        <section id="accessibility-supported">
            <h3>Only accessibility-supported ways of using technologies</h3>

            <p>The concept of "accessibility-supported" is to account for the variety of user-agents and scenarios. How does an author know that a particular technique for meeting a guideline will work in practice with user-agents that are used by real people?</p>

            <p>The intent is for the responsibility of testing with user-agents to vary depending on the level of conformance.</p> 

            <p>At the foundational level of conformance assumptions can be made by authors that methods and techniques provided by WCAG 3 work. At higher levels of conformance the author may need to test that a technique works, or check that available user-agents meet the requirement, or a combination of both.</p>

            <p>This approach means the working group will ensure that methods and techniques included do have reasonably wide and international support from user-agents, and there are sufficient techniques to meet each outcome.</p>

            <p>The intent is that WCAG 3 will use a content-management-system to support tagging of methods/techniques with support information. There should also be a process where interested parties can provide information.</p>

            <p>An "accessibility support set" is used at higher levels of conformance to define which user-agents and assistive technologies you test with. It would be included in a conformance claim, and enables authors to use techniques that are not provided with WCAG 3.</p>

            <p>An exception for long-present bugs in assistive technology is still under discussion.</p>

        </section>
    </section>

    <section id="user-generated-content" data-status="placeholder">
        <h3>User-generated content</h3>
        <details class="summary">
            <summary>Summary</summary>
            <p>User-generated content is content written by the public and customers. WCAG 3 may use different advice or steps for user-generated content to improve accessibility than for content created by the publisher. WCAG 3 proposes that organizations identify user-generated content and identify the steps taken to encourage accessibility. </p>
        </details>
            <div class="ednote">
                <p>It remains to be determined how to address user-generated content that has accessibility issues; and to define what minimum thresholds might be acceptable. We expect WCAG 3 to provide this guidance within individual guidelines and outcomes and to support testing for conformance. The working group is looking at alternative requirements to apply to user-generated content guideline by guideline, and is seeking feedback on what would serve as reasonable requirements on how to best support accessibility in user-generated content with known (or anticipated) accessibility issues. </p>
                <p>One example would be “alternative text”. The Authoring Tool Accessibility Guidelines (ATAG) has specific guidance for providing a mechanism for alternative text. The <a href="https://www.w3.org/TR/ATAG20/#gl_b23">ATAG 2.0 Guideline B.2.3</a> - “Assist authors with managing alternative content for non-text content” could be adapted to provide specific, guideline-related guidance for user generated alternative text. </p>
                <p>The working group intends to more thoroughly address the contents and the location of an accessibility statement in a future draft.</p>
            </div>
        <p>Web content publishers may include content provided by the users of their digital products. We refer to such content as “<a href="#user-generated-content">user-generated content</a>”.</p>
        <p>Examples of user-generated content include:</p>
        <ul>
            <li>social media postings and comments,</li>
            <li>uploaded photographs, or</li>
            <li>uploaded videos or other multimedia.</li>
        </ul>
        <p>User-generated content is provided for publication by visitors where the content platform specifically welcomes and encourages it. User-generated content is content that is submitted through a user interface designed specifically for members of the public and customers. Use of the same user interface as an authoring tool for publication of content by agents of the publisher (such as employees, contractors, or authorized volunteers) acting on behalf of the publisher does not make that content user-generated content. The purpose of the user-generated content conformance  section is to allow WCAG 3 outcomes and methods to require additional or different steps to improve the accessibility of user-generated content.</p>
        <p>An important part of WCAG conformance is the specific guidance that is associated with individual WCAG 3 guidelines and outcomes. Not all WCAG 3 guidelines will have unique outcomes and testing for user-generated content. Unless user-generated content requirements are specified in a particular guideline, that guideline applies as written whether or not the content is user generated. </p>
    
        
        <p>The web content publisher should identify all locations of user-generated content (such as commentary on hosted content, product descriptions for consumer to consumer for sale listings, and restaurant reviews) and perform standard accessibility evaluation analysis for each. If there are no accessibility issues, the user-generated content is fully conforming.</p>
        <section>
            <h4>Steps to conform</h4>
            <p>If accessibility issues are identified, or if the website author wants to proactively address potential accessibility issues that might arise from user-generated content, then all of the following must be indicated alongside the user-generated content or in an accessibility statement published on the website or product that is linked from the view or page in a consistent location:</p>
            <ol>
                <li>Clearly identify where user-generated content can be found on the publisher’s digital product (perhaps by id href);</li>
                <li>Clearly identify the steps taken to encourage accessibility in user-generated content such as prompting the user for alternative text for their uploaded images before they are accepted and prohibiting text attributes except as they are part of semantic markup such as strong, headings, etc.;</li>
            </ol>
        </section>
    </section>

    <section id="schedule">
        <h2>Schedule</h2>
        <p>AG is currently <a href="https://www.w3.org/2023/11/ag-charter">chartered</a> through April 2026. The
            schedule through that time period is maintained at <a
                href="https://www.w3.org/WAI/GL/wiki/WCAG_3_Timeline#Publication_Plan">WCAG 3 Timeline</a>.</p>
        <p>AG will continue to iterate within a single normative document with informative supporting documentation.
            After exploring other options such as breaking the content into modules, the group determined that the
            fastest way forward at this time is to continue creating a single document with varying levels of maturity.
            We will revisit whether mature content can be published as informative modules as part of the next charter
            period, when content is more mature.</p>
        <p>A final schedule will be delivered as part of this charter period. WCAG 3 will not be published until it
            covers at least as much as WCAG 2.2.</p>

    </section>

    <section data-status="exploratory">
        <h2>Glossary</h2>
        <p class="note">Many of the terms defined here have common meanings. When terms appear with a link to the definition, the meaning is as formally defined here. When terms appear without a link to the definition, their meaning is not explicitly related to the formal definition here. These definitions are in progress and may evolve as the document evolves. </p>
        <dl>
            <dt><dfn>Assistive technology</dfn></dt>
            <dd><p>Software (or hardware), separate from the authoring tool, that provides functionality to meet the requirements of people with disabilities.</p></dd>
            <dt><dfn data-lt="Authoring Tool">Authoring Tool</dfn></dt>
            <dd><p>Any web-based or non-web-based application(s) that can be used by authors (alone or collaboratively) to create or modify web content for use by other people (other authors or end users).</p></dd>
            <dt><dfn data-lt="Automated|Automatically evaluated|Automated testing|Automatically tested">Automated
                    evaluation</dfn></dt>
            <dd><p>Evaluation conducted using software tools, typically evaluating code-level features and applying
                    heuristics for other tests.</p>
                <p>Automated testing is contrasted with other types of testing that involve human judgement or
                    experience. [=Semi-automated evaluation=] allows machines to guide humans
                    to areas that need inspection. The emerging field of testing conducted via
                    machine learning is not included in this definition.</p></dd>
            <dt><dfn data-lt="Conform">Conformance</dfn></dt>
            <dd><p>Satisfying all the requirements of the guidelines. Conformance is an important part of following
                    the guidelines even when not making a formal Conformance Claim.</p>
                <p>See <a href="#conformance-models">Conformance Approach</a>.</p></dd>
            <dt><dfn data-lt="deprecated|deprecate">Deprecate</dfn></dt>
            <dd>
                <p>To declare something outdated and in the process of being phased out, usually in favor of a specified replacement.</p>
                <p>Deprecated documents are no longer recommended for use and may cease to exist in the future.</p>
            </dd>

            <dt><dfn data-lt="equity">Equity</dfn></dt>
            <dd>
                <p>Equity is the outcome of processes and actions that ensure the spectrum of human reality obtains what is needed to participate, not solely access. As equity relates to WCAG it is about the impact the standards/guidelines have on people with disabilities, along with actually including people with disabilities in the work. </p> 
            </dd>
            <dt><dfn>Evaluation</dfn></dt>
            <dd>The process of examining content for <a>conformance</a> to these
                guidelines.</dd>
            <dd>Different approaches to evaluation include automated <a>evaluation</a>,
                    <a>semi-automated evaluation</a>, <a>human evaluation</a>, and <a>user
                    testing</a>.</dd>
            <dt><dfn data-lt="Functional needs">Functional need</dfn></dt>
            <dd>
                <p>A statement that describes a specific gap in one’s ability, or a specific mismatch between ability and the designed environment or context.</p>
            </dd>
            <dt><dfn data-lt="Human testing|Human evaluated|Human tested|Manual|Manual evaluation|Manual testing|Manually tested">Human evaluation</dfn></dt>
            <dd>
                <p>Evaluation conducted by a human, typically to apply human judgement to tests
                    that cannot be fully <a>automatically evaluated</a>.</p>
                <p>Human evaluation is contrasted with <a>automated evaluation</a> which is done entirely by
                    machine, though it includes <a>semi-automated evaluation</a> which allows
                    machines to guide humans to areas that need inspection. Human evaluation
                    involves inspection of content features, by contrast with <a>user
                        testing</a> which directly tests the experience of users with
                    content.</p></dd>
            <dt><dfn data-lt="Non-normative|Informative">Informative</dfn></dt>
            <dd>
                <p>Content provided for information purposes and not required for <a>conformance</a>.</p>
            </dd>
            <dt><dfn data-lt="Methods">Method</dfn></dt>
            <dd>
                <p>Detailed information, either technology-specific or technology-agnostic, on ways to meet the requirement as well as <a>tests</a> and scoring information.</p>
            </dd>
            <dt><dfn>Normative</dfn></dt>
            <dd>
                <p>Content whose instructions are required for <a>conformance</a>.</p>
            </dd>

            <dt><dfn>Programmatically</dfn></dt>
            <dd>
                <div class="ednote">
                    <p>To be defined.</p>
                </div>
            </dd>

            <dt><dfn data-lt="Processes">Process</dfn></dt>
            <dd><p>A sequence of steps that need to be completed to accomplish an activity / task from
                    end-to-end.</p></dd>
            <dt><dfn data-lt="Reliable">Reliability</dfn></dt>
            <dd>
                <p>The reproducibility and consistency of scores i.e. the extent to which they are the same when evaluations of the same resources are carried out in different contexts (different tools, different people, different goals, different time). This would be particularly useful to ensure that similar results are achieved by different testers. It would also be useful to see if different testers would select the same path or off-path decisions. Representative sampling tests also fit in this category.
                <a href="https://www.w3.org/WAI/RD/wiki/Benchmarking_Web_Accessibility_Metrics.html">Benchmarking Web Accessibility Metrics</a>, Vigo, Lopes, O Connor, Brajnik, Yesilada 2011. </p>
            </dd>
            <dt><dfn>Semi-automated evaluation</dfn></dt>
            <dd>
                <p>Evaluation conducted using machines to guide humans to areas that need
                    inspection.</p>
                <p>Semi-automated evaluation involves components of <a>automated evaluation</a>
                    and <a>human evaluation</a>.</p>
            </dd>

            <dt><dfn>Significant change</dfn></dt>
            <dd>
                <div class="ednote">
                    <p>To be defined.</p>
                </div>
            </dd>

            <dt><dfn data-lt="technology-agnostic">Technology agnostic</dfn></dt>
            <dd>
                <div class="ednote">
                    <p>To be defined.</p>
                </div>
            </dd>

            <dt><dfn data-lt="Tests">Test</dfn></dt>
            <dd>
                <p>Mechanism to evaluate implementation of a <a>method</a>.</p>
            </dd>

            <dt><dfn>User activity</dfn></dt>
            <dd>
                <div class="ednote">
                    <p>To be defined.</p>
                </div>
            </dd>

            <dt><dfn>User agent</dfn></dt>
            <dd>
                <p>Any software that retrieves, renders and facilitates end user interaction with web content (e.g. web browsers, browser plug-ins, media players).</p>
            </dd>
            <dt><dfn>User testing</dfn></dt>
            <dd>
                <p>Evaluation of content by observation of how users with specific <a>functional needs</a> are able to complete a <a>process</a> and how the content supports the relevant guidelines.</p>
            </dd>
        </dl>
    </section>

    <section class="appendix">
        <h2>Acknowledgements</h2>
        <p>Additional information about participation in the Accessibility Guidelines Working Group (AG WG) can be found on the <a href="https://www.w3.org/groups/wg/ag/">Working Group home page</a>.</p>
        <Acknowledgements />
    </section>
</body>

</html>
