
<div class="sidenav">
  <nav class="sn-contents" aria-label="Secondary">
    {%- assign base = '/' | append: outcome.slug %}
    <ul class="sidenav--list">
      <li>{% include 'link.html', href: '/', base: base, text: outcome.title %}
        {% if outcome.requirements %}
        <ul>
          {% for navItem in outcome.requirements %}
          <li><a href="{{ base }}/{{ navItem | slugify}}">{{ navItem }}</a></li>
          {% endfor %}  
        </ul>
        {% endif %}
      </li>
      {%- if outcome.hasUserNeeds -%}
      <li>{% include 'link.html', href: '/user-needs/', base: base, text: 'User Needs' %}</li>
      {% endif -%}
      {%- if outcome.hasResearch -%}
      <li>{% include 'link.html', href: '/research/', base: base, text: 'Research' %}</li>
      {% endif -%}
    </ul>
  </nav>
</div>