<div class="sub-header">
  <div class="page-width">
    <ul class="breadcrumb">
      <li><a href="https://w3c.github.io/silver/guidelines">WCAG 3.0</a></li>
      {%- if outcome.slug and outcome.title %}
        <li><a href="/{{ outcome.slug }}/">{{ outcome.title }} Methods & How To's</a></li>
        {%- if type == "method" %}
          <li><a href="/{{ outcome.slug }}/methods">Methods</a></li>
          {%- if subtitle == 'Introduction' %}
            <li>{{ method.title }}</li>
          {%- else %}
            <li><a href="/{{ outcome.slug }}/methods/{{method.slug}}/">{{ method.title }}</a></li>
            <li>{{ subtitle }}</li>
          {%- endif %}
        {%- elsif type == "activity" %}
          <li><a href="/{{ outcome.slug }}/activities/plan">Activities</a></li>
          <li>{{ subtitle }}</li>
        {%- elsif breadcrumb %}
          <li>{{ breadcrumb }}</li>
        {%- else %}
          <li>{{ title }}</li>
        {%- endif %}
      {%- endif %}
    </ul>
    
    <h1 class="subtitle">
      {%- if type == 'method' %}
        Method - {{ method.title }}
      {%- elsif title %}
        {{ title }}
      {%- elsif breadcrumb == 'Methods' %}
        Methods for {{ outcome.title }}
      {%- endif %}
    </h1>
    
    {%- if type == "method" %}
    {%- assign baseUrl = '/' 
          | append: outcome.slug 
          | append: '/methods/'
          | append: method.slug
    %}
    <nav aria-label="Methods navigation" class="nav-list">
      <ul>
        <li>{% include 'link.html', text: 'Introduction',          href: '/', base: baseUrl %}</li>
        <li>{% include 'link.html', text: 'Code Snippets',         href: '/code-snippets/', base: baseUrl %}</li>
        <li>{% include 'link.html', text: 'Test',                  href: '/test/', base: baseUrl %}</li>
        <li>{% include 'link.html', text: 'Background',            href: '/background/', base: baseUrl %}</li>
        <li>{% include 'link.html', text: 'Technical Definitions', href: '/definitions/', base: baseUrl %}</li>
      </ul>
    </nav>
    {%- elsif type == 'activity' %}
    {%- assign baseUrl = '/' | append: outcome.slug | append: '/activities' %}
    <nav aria-label="Activity navigation" class="nav-list">
      <ul>
        <li>{% include 'link.html', text: 'Plan',    href: '/plan/',    base: baseUrl %}</li>
        <li>{% include 'link.html', text: 'Design',  href: '/design/',  base: baseUrl %}</li>
        <li>{% include 'link.html', text: 'Develop', href: '/develop/', base: baseUrl %}</li>
        <li>{% include 'link.html', text: 'Edit',    href: '/edit/',    base: baseUrl %}</li>
        <li>{% include 'link.html', text: 'Test',    href: '/test/',    base: baseUrl %}</li>
      </ul>
    </nav>
    {%- endif %}
  </div>
</div>
