<div class="top-header">
  <nav class="page-width" aria-label="Skip link">
    <a href="#main" class="skip-link">Skip to content</a>
  </nav>
  <header class="page-width">
    <div>
      <div class="wcag3">WCAG 3.0</div>
      <div class="title">{{ outcome.title }} Methods & How To's</div>
    </div>
    <div class="branding">
      {% include 'layout/wai-logo.html' %}
    </div>
  </header>

  {%- if outcome.slug %}
  <nav aria-label="WCAG 3 How-to Navigation"><div class="page-width nav-list">
    {%- assign base = '/' | append: outcome.slug %}
    <ul>
      <li>{% include 'link.html', href: '/', base: base, text: 'Get Started' %}</li>
      <li>{% include 'link.html', href: '/user-needs/', base: base, text: 'User Needs' %}</li>
      <li>{% include 'link.html', href: '/activities/plan/', base: base, text: 'Activities' %}</li>
      <li>{% include 'link.html', href: '/examples/', base: base, text: 'Examples' %}</li>
      <li>{% include 'link.html', href: '/resources/', base: base, text: 'Resources' %}</li>
      <li>{% include 'link.html', href: '/methods/', base: base, text: 'Methods' %}</li>
    </ul>
  </div></nav>
  {%- endif %}
</div>
