---
import { buildGuidelinesHierarchy, computeGuidelineTitle } from "@/lib/guidelines";

const groups = await buildGuidelinesHierarchy();
---

<ul>
  {
    groups.map((group) => (
      <li>
        <a href={`#${group.id}`}>{computeGuidelineTitle(group)}</a>
      </li>
    ))
  }
</ul>
