---
import type { CollectionKey } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

interface Props {
  entry: CollectionEntry<CollectionKey>;
}

const { entry } = Astro.props;
const params = new URLSearchParams();
params.set("id", entry.id);
params.set("type", entry.collection);
const url = `${import.meta.env.BASE_URL}edit/?${params}`;
---

{import.meta.env.DEV ? <a href={url}>Edit this {entry.collection.replace(/s$/, "")}</a> : <></>}
