<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {%- include "layout/page-title.html" %}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://w3.org/WAI/assets/css/style.css">
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body dir="ltr">
  {% include "layout/header.html" %}
  <div class="default-grid with-gap leftcol">
    {% include "layout/outcome-nav.html" %}
    <main id="main" tabindex="-1">
      {%- if title %}
        <h1>{{ title }}</h1>
      {%- else %}
        <h1>{{ outcome.title }}</h1>
      {%- endif %}
      {{ content }}
    </main>
  </div>
  {% include "layout/site-footer.html" %}
</body>
</html>