---
import DevLayout from "@/layouts/DevLayout.astro";
---

<DevLayout title="Dev Tools">
  <ul>
    <li><a href="rename/groups/">Rename a group</a></li>
    <li><a href="rename/guidelines/">Rename a guideline</a></li>
    <li><a href="rename/requirements/">Rename a provision</a></li>
  </ul>
</DevLayout>
