---
import DevLayout from "@/layouts/DevLayout.astro";
---

<DevLayout title="Dev Tools">
  <h2>Editing</h2>
  <ul>
    <li><a href="rename/groups/">Rename a group</a></li>
    <li><a href="rename/guidelines/">Rename a guideline</a></li>
    <li><a href="rename/requirements/">Rename a provision</a></li>
  </ul>
  <h2>Publication Preparation</h2>
  <ul>
    <li><a href="issue-labels/">Pending issue label updates</a></li>
  </ul>
</DevLayout>
