name: GitHub Pages Build & Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - how-to-pages

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          cache-dependency-path: how-to/package-lock.json

      - name: Static content copy
        run: |
          mkdir ./_site
          cp -r ./guidelines ./_site/guidelines
          cp -r ./explainer ./_site/explainer
          cp -r ./requirements ./_site/requirements

      - name: Eleventy Build how-to pages
        run: |
          npm --prefix ./how-to/ ci
          npm --prefix ./how-to/ run build:gh-pages
          npm --prefix ./how-to/ run copy-to-root

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: _site 
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
